.mainContainer {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: 200px;
}

.title {
  font-size: xx-large;
}

.inputContainer {
  display: flex;
  flex-direction:column;
  align-items:center;
   /* space-between aligngs the stuff nicely */
  padding:5px;
}


.titleContainer {
  float: left;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.titleContainer2 {
  float: right;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}